.navbarContainer {
    background-color: #f8f9fa;
    margin: 0;
}

.navbarWrapper {
    max-width: 1250px;
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;
}

.otherNavLinks {
    display: flex;
}

.link {
    color: #39424e;
    font-size: 14px;
    display: block;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    margin: 0 5px;
    &:hover {
        color: #700695;
    }
}

.businessLink {
    padding: 0.5rem;
    margin-left: 0.5rem;
    background-color: #fa8038;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}