.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1250px;
}

.container, .container-fluid, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

ol.breadcrumb {
    background-color: #fff;
    font-size: 14px;
}

.breadcrumb a {
    color: gray;
    text-decoration: none!important;
}

.mainBanner {
    margin-bottom: 30px;
    padding: 10px;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productList div:hover {
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
}

.productList p {
    padding: 0 5px;
}

.productList .productPrice {
    font-weight: 600;
    padding: 10px 5px;
    margin-bottom: 0;
}

@media screen and (max-width: 700px) {
    .mainBanner {
        width: 100%;
    }

    .productList img {
        width: 100% !important;
    }
}