.serviceNavbarContainer {
    background-color: #f8f9fa;
    margin: 0;
}

.serviceNavbarWrapper {
    max-width: 1250px;
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;
}

.serviceList {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.serviceList > li {
    font-size: 16px;
    margin-right: 25px;
    color: #39424e;
    cursor: pointer;

    &:hover {
        color: #700695;
    }
}