.headerContainer{
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    max-width: 1250px;
    margin: 0px 50px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoSearchContainer {
    display: flex;
    align-items: center;
}

.logo{
    height: 75px;
    width: auto;
    margin-right: 1rem;
}

.callLoginStoreContainer {
    display: flex;
    align-items: center;
}

.link{
    color: #39424e;
    font-size: 16px;
    display: block;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    margin: 0 5px;
    &:hover {
        color: #700695;
    } 
}

.cartImg {
    height: 25px;
    width: 25px;
    padding: 0.5rem 0.5rem;
    margin: 0 5px;
    cursor: pointer;
}

.mob{
    font-size: 20px;
}

.callUsText {
    font-size: 12px;
}