.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1250px;
}

.container, .container-fluid, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

ol.breadcrumb {
    background-color: #fff;
    font-size: 14px;
}

.breadcrumb a {
    color: gray;
    text-decoration: none!important;
}

.productMainPicture {
    height: 383px;
    width: 575px; 
}

.productDetailWrapper {
    margin-bottom: 30px;
}

.productDetailWrapper {
    margin-bottom: 30px;
    display: flex;
}

.tlui-debug-panel {
    display: none !important;
}

.labelGroup {
    margin-bottom: 20px;
}

.labelGroup h4 {
    margin-right: 100px;
    font-size: 16px;
    font-weight: 500;
    width: 150px;
}

.labelGroup .form-check {
    width: 90px;
}

.labelGroup .form-select {
    width: 350px;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 35px;
    z-index: 9999;
    cursor: pointer;
    display: flex;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
}

.closeButton img {
    width: 20px;
    margin-left: 15px;
}

@media screen and (max-width: 700px) {
    .productMainPicture, .productDetails {
        width: 100vw !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .productMainPicture {
        width: 100%;
    }

    .canvasWrapper {
        width: 210px !important;
    }

    .canvas-wrapper {
        top: 170px !important;
    }
}