.canvas-container {
    display: flex;
    margin: auto;
    align-items: center;
    height: 100%;
}

.canvasWrapper {
    height: 100vh;
    background: #fff;
    padding: 25px 15px 0 25px;
    width: 334px;
    position: relative;
}

.canvas-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: calc(50% - 180px);
}

.canvas-wrapper > * {
    width: 114px;
    margin-left: 30px;
    height: 65px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #000;
    box-shadow: rgb(0 0 0 / 32%) 0px 2px 6px 0px;
}

input[type="file"] {
    display: none;
}

label[for="fileInput"] {
    padding: 20px 15px;
}

.canvasContainer {
    border: 1px solid #000; 
    width: max-content;
    background: #fff;
    position: absolute;
    left: calc(50% - 256px);
}

@media screen and (max-width: 700px) {
    .canvas-container {
        flex-direction: column;
    }

    .canvasWrapper {
        height: 200px;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0;
    }

    .canvas-wrapper {
        top: 0;
        padding: 25px;
    }

    .canvas-wrapper > * {
        margin-left: 0;
        margin-right: 15px;
        margin-bottom: 15px;
        width: 93px;
        height: 47px;
        line-height: 20px;
    }

    label[for="fileInput"] {
        padding: 3px 15px;
        line-height: 20px;
    }
}