.listItem {
    margin: 15px;
    cursor: pointer;
}

.bgViolet {
    background-color: #2B2353;
    margin-bottom: 30px;
    
}

.bgWhiteMarginHigh {
    background-color: #FFF;
    margin: 0px 80px;
    margin-bottom: 30px;
    text-align: center;
}

.bgWhiteMarginNormal {
    background-color: #FFF;
    margin: 0px;
    margin-bottom: 30px;
    text-align: center;
}

.bgWhiteMarginHigh .listItem {
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}

.bgWhiteMarginHigh p, .bgWhiteMarginNormal p {
    color: #00000099;
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    padding: 10px 0;
    background-color: #2b2353;
    color: #fff;
}