.listItem {
    margin: 15px;
    cursor: pointer;
}

.bgViolet {
    background-color: #2B2353;
    margin-bottom: 30px;
    
}

.bgWhiteMarginHigh {
    background-color: #FFF;
    margin: 0px 80px;
    margin-bottom: 30px;
}

.bgWhiteMarginHigh .listItem {
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}

.bgWhiteMarginHigh p {
    font-size: 11px;
    margin: 0;
    font-weight: 600;
    background-color: #2b2353;
    color: #fff;
}
@media screen and (max-width: 700px) {
    .bgWhiteMarginHigh {
        margin: 0 20px;
    }
}