.listItem {
    margin: 15px;
    cursor: pointer;
}

.bgViolet {
    background-color: #2B2353;
    margin-bottom: 30px;
    
}

.bgWhiteMarginHigh {
    background-color: #FFF;
    margin: 0px 80px;
    margin-bottom: 30px;
}


.bgWhiteMarginHigh p {
    font-size: 11px;
    margin: 0;
    font-weight: 600;
}